* {
font-family: 'Merriweather', serif;
}


h1 {
	float: center;
	position: center;
}

h2 {
	float: center;
	position: center;
}

.boban {
	float: center;
	position: center;
}


table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

html,
h3,
h4,
h5,
h6 {
	color: black;
}

body {
	background: #d2f8ff;
	margin-padding: 10%;
}

a {
	text-decoration: none;
}
/*
HEADER
*/

header {
	background: #f5f5f5;
	height: 15%;
}

header h1 {
	font-size: 40px;
}

header h1 a {
	color: red;
}

header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;

}

header ul li {
	float: left;
	position: relative;	
	
}

header ul li a {
	display: block;
	font-size: 1.2rem;
	text-decoration: none;
	padding: 5%
}

image {
	float: center;
	position: center;
}

